<?xml version="1.0"?>
<robot name="tracked_robot" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="camera.urdf.xacro" />
    <xacro:macro name="hand" params="parent">
        <joint name="hand_base_joint" type="fixed">
            <origin xyz="0.0 0 0.09" rpy="0 0 0" />
            <parent link="${parent}" />
            <child link="hand_base" />
            <axis xyz="0 0 1" />
        </joint>

        <link name="hand_base">
            <inertial>
                <mass value="0.2" />
                <inertia ixx="1e-3" ixy="0.0" ixz="0.0"
                    iyy="1e-3" iyz="0.0"
                    izz="1e-3" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <cylinder length="0.04" radius="0.02" />
                </geometry>
                <material name="Black" />
            </visual>
        </link>


        <joint name="hand_joint" type="fixed">
            <origin xyz="0 0 0.02" rpy="0 0 0" />
            <parent link="hand_base" />
            <child link="hand" />
            <axis xyz="0 0 1" />
        </joint>


        <link name="hand">
            <visual>
                <origin xyz="0.135 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="0.3 0.03 0.01" />
                </geometry>
                <material name="Black" />
            </visual>
        </link>

        <xacro:camera parent="hand" />
    </xacro:macro>
</robot>