<?xml version="1.0" ?>
<robot name="tracked_robot" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="tracked_robot_core.urdf.xacro"/>
    <xacro:arg name="diff_drive_emulation" default="false" />

    <!--  robot -->
    <xacro:robot diff_drive_emulation="$(arg diff_drive_emulation)" />

 <ros2_control name="tracked_robot" type="system">
    <hardware>
      <plugin>tracked_robot_hardware/DiffDriveArduinoHardware</plugin>
      <!-- <param name="serial_port">/dev/ttyACM0</param>-->
    </hardware>
    <joint name="sprocket_left_joint">
      <command_interface name="velocity" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
    <joint name="sprocket_right_joint">
      <command_interface name="velocity" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
  </ros2_control>
</robot>