<?xml version="1.0"?>
<robot name="tracked_robot" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="track_gps" params="parent">

        <!-- *********************** GPS SETUP *********************************  -->
        <gazebo reference="gps_link">
            <sensor name="bmb_gps" type="gps">
                <always_on>true</always_on>
                <update_rate>10.0</update_rate>
                <gps>
                    <position_sensing>
                        <horizontal>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>1e-2</stddev>
                            </noise>
                        </horizontal>
                        <vertical>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>1</stddev>
                            </noise>
                        </vertical>
                    </position_sensing>
                </gps>
                <!--plugin name="basic_mobile_bot_gps" filename="libgazebo_ros_gps_sensor.so">
                    <ros>
                        <remapping>~/out:=gps/fix</remapping>
                    </ros>
                </plugin-->
                <!--plugin name="novatel_gps_sim" filename="libhector_gazebo_ros_gps.so"-->
                <plugin name="basic_mobile_bot_gps" filename="libgazebo_ros_gps_sensor.so">
                    <alwaysOn>1</alwaysOn>
                    <updateRate>10.0</updateRate>
                    <bodyName>base_link</bodyName>
                    <topicName>fix</topicName>
                    <velocityTopicName>fix_velocity</velocityTopicName>
                    <drift>5.0 5.0 5.0</drift>
                    <gaussianNoise>0.1 0.1 0.1</gaussianNoise>
                    <velocityDrift>0 0 0</velocityDrift>
                    <velocityGaussianNoise>0.1 0.1 0.1</velocityGaussianNoise>
                </plugin>
                
            </sensor>
        </gazebo>

    </xacro:macro>
</robot>