<?xml version="1.0"?>
<robot name="tracked_robot" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="track_imu" params="parent">
        
   <gazebo reference="imu_link">
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>10</update_rate>
      <visualize>true</visualize>
      
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <ros>
          <namespace>/imu</namespace>
          <remapping>~/out:=data</remapping>
        </ros>
        <always_on>true</always_on>
      <update_rate>30</update_rate>
      <visualize>true</visualize>
      </plugin>

    </sensor>
  </gazebo>

    </xacro:macro>
</robot>