<?xml version="1.0"?>
<robot name="tracked_robot" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find tracked_robot_description)/urdf/tracked_robot_core.urdf.xacro"/>
    <!-- differential drive -->
    <xacro:include filename="$(find tracked_robot_gazebo)/urdf/diff_drive.gazebo.xacro"/>
    <xacro:include filename="$(find tracked_robot_gazebo)/urdf/camera.gazebo.xacro"/>
    <xacro:include filename="$(find tracked_robot_gazebo)/urdf/lidar.gazebo.xacro"/>
    <xacro:include filename="$(find tracked_robot_gazebo)/urdf/imu.gazebo.xacro"/>
    <xacro:include filename="$(find tracked_robot_gazebo)/urdf/gps.gazebo.xacro"/>


    <xacro:arg name="robot_name" default="tracked_robot" />

    <xacro:arg name="publish_odom_tf"  default="true"/>

    <xacro:robot diff_drive_emulation="true" mimic_enable="true" path_meshes="file://$(find tracked_robot_description)/meshes"/>

    <!-- tracked_robot differential drive controller -->
    <xacro:track_drive parent="base_footprint"
                       robot_name="$(arg robot_name)"
                       update_rate="30.0"
                       wheel_radius="0.069"
                       wheel_separation="0.4"
                       publish_odom_tf="$(arg publish_odom_tf)" />
                  
    <xacro:track_gps parent="gps_link" update_rate="10.0" />
    <xacro:track_camera parent="camera_link"
                        update_rate="10.0" />

    <xacro:track_lidar parent="lidar_link"
                        update_rate="10.0" />


    <xacro:track_imu parent="imu_link" />


</robot>